<!DOCTYPE html>
<html>
<head>
  <title>Example Caliper App</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>
<body>
<div id='root'></div>
</body>


<script type="text/javascript">
    <%
     js_settings = {
      apiUrl: api_url,
      sessionId: @session_id,
     }
  %>
    window.DEFAULT_SETTINGS = <%= js_settings.to_json %>;
</script>


<% if settings.use_hot_load %>
  <script src="<%= settings.hot_load_url %>"></script>
<% else %>
  <script src="/bundle.js"></script>
<% end %>

<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</html>
